<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Listing</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <h1 class="listingh1"> The Best Features of the Internet</h1>
    <ul>
        <li> This page highlights the different ways to use listing in html</li>
        <li>You can meet new people from all countries</li>
            <ul>
                <li> new games</li>
                <li> new apps</li>
                    <ul>
                        <li>Business apps</li>
                        <li> other apps</li>
                    </ul>
                <li> Around the clock news</li>
                <li> Search engines</li>
                <li> Programming</li>
                    <ul>
                        <li>Python</li>
                        <li>Java</li>
                        <li>C++</li>
                    </ul>
                
            </ul>
        <li>Keep in touch with freinds</li>
        <li>it's the technology of the feature!</li>
    </ul>
    
</body>
</html>