.div1{
    text-align: center;
}

.body{
    background-color: darkslategray;
    padding: 1px;
}

.Link{
    text-align: center;
    padding: 1%;
    display: block;
    font-size: 20px;
}
.Link:visited{
    color:purple;
}

.Link:hover{
    color: cadetblue;
}

#link1{
    background-color: aquamarine;
    color: red;
    
}

#link2{
    background-color: darkgray;
    color: bisque;
}

#link3{
    background-color: black;
    
}

.texth1{
    background-color:rgb(44, 213, 208);
    color:rgb(112, 67, 13);
}

.listingh1{
    background-color:darkcyan;
    color:antiquewhite;
}